.book-block {
  .card {
    cursor: pointer;
    transition: all 0.25s ease-out;
    &-bg {
      width: 100%;
      height: 450px;
    }
    &:hover {
      transform: scale(1.15) translateZ(0);      
    }
  }
}
