main {
    
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar-bg {
    background-color: #f07c65;

    &__transparent {
        background-color: #f07c6500;
    }
}