main {
    
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar-bg {
    background-color: #ffffff;

    &__transparent {
        background-color: #f07c6500;
    }
}

.mb-8 {
    margin-bottom: 8px;
}